/* styles/globals.css */
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: url('../assets/images/background.png');
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
