.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* 上揃え */
  justify-content: center;
  height: 100vh;
  padding: 2rem;
  background-image: url('../assets/images/background.png');
}

.leftPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 左揃え */
  justify-content: flex-start; /* 上揃え */
  width: 35%;
  height: 100%; /* 左側の高さを全体に合わせる */
  padding-right: 1rem;
}

.topPanel {
  display: flex;
  flex-direction: row; /* 横並び */
  align-items: center; /* 中央揃え */
  justify-content: center; /* 中央揃え */
  width: 100%; /* 横幅を全体に合わせる */
  padding: 1rem; /* パディングを追加 */
  margin-bottom: 1rem; /* 下に少し余白を追加 */
}

.sidePanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.boardstyle {
  display: flex;
  flex-wrap: wrap;
  width: 90vh;
  height: 90vh;
  background-color: green;
}

@media (width > 1200px) {
  .pieceImage {
    width: 12.5%;
  }
}

@media (width <= 1200px) {
  .boardstyle {
    width: 75vh;
    height: 75vh;
  }

  .pieceImage {
    width: 12.5%;
  }
}

@media (width <= 900px) {
  .boardstyle {
    width: 60vh;
    height: 60vh;
  }

  .pieceImage {
    width: 12.5%;
  }
}

@media (width <= 800px) {
  .boardstyle {
    width: 55vh;
    height: 55vh;
  }

  .container {
    display: grid;
  }

  .leftPanel {
    width: 70%;
  }

  .descriptionContainer {
    display: inline-flex;
  }

  .pieceImage {
    width: 10%;
  }
}

@media (width <= 700px) {
  .boardstyle {
    width: 50vh;
    height: 50vh;
  }
}

@media (width <= 600px) {
  .boardstyle {
    width: 45vh;
    height: 45vh;
  }
}

@media (width <= 500px) {
  .boardstyle {
    width: 40vh;
    height: 40vh;
  }
}

@media (width <= 400px) {
  .boardstyle {
    width: 35vh;
    height: 35vh;
  }
}

@media (width <= 300px) {
  .boardstyle {
    width: 30vh;
    height: 30vh;
  }
}

.cellstyle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cellstyle:nth-child(odd) {
  background-color: #f7c899;
}

.cellstyle:nth-child(even) {
  background-color: #ca8745;
}

.imgstyle {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.configureBorder1 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: configure-clockwise 3s ease-in-out 0s infinite;
}

.configureBorder2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #1d2630;
  transform: rotate(45deg);
  animation: configure-xclockwise 3s ease-in-out 0s infinite;
}

.configure1 {
  border: solid 1px #000;
}

.configure2 {
  outline: solid 1px #000;
}

.configure3 {
  border: solid 1px #fff;
}

.configure4 {
  outline: solid 1px #fff;
}

.spinnerBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }

  25% {
    transform: rotate(-45deg);
  }

  50% {
    transform: rotate(-135deg);
  }

  75% {
    transform: rotate(-225deg);
  }

  100% {
    transform: rotate(-315deg);
  }
}

.turnIndicator {
  margin-left: 1rem; /* ターン表示に余白を追加 */
  font-size: 150%;
  font-weight: bold;
  text-align: center;
}

.captureCandidate {
  background: radial-gradient(circle, rgb(255 0 0 / 30%) 0%, rgb(255 0 0 / 0%) 70%);
  box-shadow: inset 0 0 10px rgb(255 0 0 / 50%);
  animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
  0% {
    box-shadow: inset 0 0 10px rgb(255 0 0 / 50%);
    transform: scale(0.95);
  }

  100% {
    box-shadow: inset 0 0 20px rgb(255 0 0 / 90%);
    transform: scale(1.05);
  }
}

.resetButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: #ff5e5e;
  border: none;
  border-radius: 5px;
}

.resetButton:hover {
  background-color: #ff3232;
}

.pieceDescription {
  display: flex;
  align-items: center;
  padding: 0.2rem 0; /* 上下のパディングを追加 */
  margin: 0; /* 上下のマージンをなくす */
  font-family: cursive;
}

.pieceDescription img {
  margin-right: 0.5rem; /* 駒とテキストの間の余白 */
}

.pieceDescription p {
  margin: 0;
  white-space: pre-line;
}

.descriptionContainer {
  flex: 1;
  margin-left: 0.2rem; /* テキストと説明文の間の余白 */
}

.descriptionText {
  font-size: 0.9rem;
}
