.boardstyle {
  display: flex;
  flex-wrap: wrap;
  width: 90vh;
  height: 90vh;
  background-color: green;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-image: url('../assets/images/background.png');
}

.cellstyle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cellstyle:nth-child(odd) {
  background-color: f7c899;
}

.cellstyle:nth-child(even) {
  background-color: ca8745;
}

.imgstyle {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.configureBorder1 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: configure-clockwise 3s ease-in-out 0s infinite;
}

.configureBorder2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #1d2630;
  transform: rotate(45deg);
  animation: configure-xclockwise 3s ease-in-out 0s infinite;
}

.configure1 {
  border: solid 1px #000;
}

.configure2 {
  outline: solid 1px #000;
}

.configure3 {
  border: solid 1px #fff;
}

.configure4 {
  outline: solid 1px#fff;
}

.spinnerBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }

  25% {
    transform: rotate(-45deg);
  }

  50% {
    transform: rotate(-135deg);
  }

  75% {
    transform: rotate(-225deg);
  }

  100% {
    transform: rotate(-315deg);
  }
}

.turnIndicator {
  font-size: 150%;
  font-weight: bold;
  text-align: center;
}

.captureCandidate {
  background: radial-gradient(circle, rgb(255 0 0 / 30%) 0%, rgb(255 0 0 / 0%) 70%);
  box-shadow: inset 0 0 10px rgb(255 0 0 / 50%);
  animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
  0% {
    box-shadow: inset 0 0 10px rgb(255 0 0 / 50%);
    transform: scale(0.95);
  }

  100% {
    box-shadow: inset 0 0 20px rgb(255 0 0 / 80%);
    transform: scale(1.05);
  }
}

.resetButton {
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.resetButton:hover {
  background-color: rgb(255 0 0 / 80%);
}
